@use "bulma" as *;
@use "bulma/sass/utilities/css-variables" as cv;

.dj-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  padding: 0;

  img {
    border-radius: 20px; //cv.getVar("radius-rounded");
  }
}