@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma" as *;
@use "bulma/sass/utilities/css-variables" as cv;

.dj-image {
  img {
    border-radius: cv.getVar("radius-large");
    max-width: 100%;
  }
}

.contact-email {
  a {
    color: iv.$grey-light;
  }
}